*{
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* cabecera general para hacer modificaciones en la cabecera */
.cabecera {
    position: relative;
    display: flex;
    width:100%;
    height: 8vh;
    background-color: #392B28;
    box-shadow: 0em 0 0.1em white;
}
main{
    background-color: #392B28;
    color: white;

}
/* relizamos stylos en la parte de la seccion menu de la cabecera */
.cabecera__menu{
    font-family: Helvetica;
    display: flex;
    width: 50vw;
    margin: 3vh auto;
    margin-right: 5px;
    align-items: center;
    justify-content: flex-end;

}

/* realizamos stylos conjunto de lista desordenada de la cabecera parate menu */
.cabecera__menu ul{
    list-style: none;
    text-align: center;
    float:right
}

/* realizamos stylos en cada una que compone la lista */
.cabecera__menu ul li{
    display: inline-block;
    font-size: 18px;
    margin: 10px 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

/* stylo hover a cada una de los componentes de la lista */
.cabecera__menu ul li:hover{

    border-top: 1.5px solid #fbf2c0;
    border-bottom: 1.5px solid #fbf2c0;
    
}

/* realizamos stylos en cada etiqueta de hipervinculo de cada uno de los componentes de
de la lista deordenada de la parte nebu de la cabecera */
.cabecera__menu ul li a{
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    text-decoration: none;
    display:inline-block;
    color: #fbf2c0;
    
}

/* stylos parte de logo general de la cabecera */
.cabecera__Logo{
    width: 30vw;
    height: 30vh;
  
    
}

/* .cabecera__logo-img{
    border:solid 1px #fbf2c0;
} */
/* stylos para la imagen de parte logo de la cabecera */
.cabecera__Logo a img{
    border-radius: 100%;
    position: absolute;
    width:auto;
    height: auto;
    max-width: 25vh;
    max-height: 25vh;
    margin-top: 0.5vh;
    margin-left: 8px;
    float:left;
    
}
.cabecera__Logo a img:hover{
    border:solid 2px #fbf2c0;
    box-shadow: 2px 2px 10px #fbf2c0;

    
}


/* stylos parte de login general de la cabecera */
.cabecera__login{
    width:20vw;
    font-family: monserrat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    
}

/* stylo para login parte inicio de secion */
/* stylo para login parte registrarse */

.cabecera__login a {
    font-family: Helvetica;
    color: #fbf2c0;
    background-color: #392B28;
    border: solid 1.5px #fbf2c0;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    width: 45%;
    height: 60%;
    text-decoration: none;
    justify-content:center;
    align-items:center;
} 

.cabecera__login a:hover {
    text-align: center;
    text-decoration: none;
    background-color: #fbf2c0;
    color: #392B28;
    border-top: 3px solid #392B28;
    border-bottom: 3px solid #392B28;
    border-right: 3px solid #392B28;
} 